<h1>1312ch</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="boards">
    <%= for board <- @boards do %>
      <tr id="board-<%= board.id %>">
        <td><%= board.title %></td>
        <td>/<%= board.url %>/</td>
        <td>
          <span><%= live_redirect ">> Enter <<", to: Routes.board_show_path(@socket, :show, board) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>